<div style="background-color: rgb(240 242 245);">


  <div class="max-width-container">
    <div class="flex items-center justify-between">
      <div>
        <h2 class="text-lg font-bold textcolor-primary">Upcoming Client Meetings</h2>
        <p class="text-xs text-gray-500">Select a client to view or generate their meeting preparation brief</p>
      </div>
      <div class="text-xs text-gray-400">
        Today: {{ today | date:'dd MMMM yyyy' }}
      </div>
    </div>

    <div class="meeting-card" *ngFor="let meeting of meetingsSignal()">
      <div class="left-section">
        <div class="user-circle">{{ meeting.shortName }}</div>
        <div class="details">
          <div class="name-row">
            <span class="name">{{ meeting.title }} {{ meeting.name }}</span>
            <span class="tag">{{ meeting.accountType}}</span>
          </div>
          <div class="info-row">
            <span>{{ meeting.date }} at {{ meeting.time }}</span>
            <span class="divider">|</span>
            <span class="video-call">
              {{ meeting.meetingType }}  —   {{ meeting.location }}
            </span>
            <span class="divider">|</span>
            <span>AUM: &euro;{{ meeting.amount }}M</span>
          </div>
        </div>
      </div>

      <div class="right-section">
        <span [class]="'status-badge ' + getStatusClass(meeting.meetingStatus)">
          {{ getStatusText(meeting.meetingStatus) }}
        </span>

        <button [class]="'action-btn ' + (meeting.meetingStatus === 1 ? 'status-ready-btn' : '')" 
                (click)="navigateToMeeting(meeting.id,meeting.clientId)">
          @if (meeting.meetingStatus === 1) {
            View Brief
          } @else {
            Prepare Brief
          }
          <span class="arrow">→</span>
        </button>
      </div>
    </div>

    <div class="summary-cards-container">
      <div class="summary-card">
        <p class="card-title">Total Meetings</p>
        <h3 class="card-value value-1">{{ meetingsOfThisWeek() }}</h3>
      </div>

      <div class="summary-card">
        <p class="card-title">Briefs Ready</p>
        <h3 class="card-value value-2">{{ briefsReady() }}/{{ meetingsOfThisWeek() }}</h3>
      </div>

      <div class="summary-card">
        <p class="card-title">Total AUM</p>
        <h3 class="card-value value-3">&euro;{{ totalAum() }}</h3>
      </div>

      <div class="summary-card">
        <p class="card-title">Average AI Prep Time</p>
        <h3 class="card-value value-4">{{ avgAIPrepTime() }}</h3>
      </div>

    </div>
  </div>
</div>
