<div class="outer-box" style="background-color:ghostwhite;;margin-top:-55px">
  <div class="card anim-up" style="animation-delay: 60ms">
    <div class="card-header">
      <h3 class="card-title" style="color: rgb(26, 74, 122);">Client Personal Aspects</h3>
    </div>
    <div class="card-content" *ngIf="personalAspectsData; else loading">
      <p class="info-row" *ngFor="let aspect of personalAspectsData">
        <span class="font-semibold text-gray-800">{{ aspect.label }}:</span>
        <span class="text-gray-600">{{ aspect.value }}</span>
      </p>
    </div>
    <ng-template #loading>
      <p>Loading personal aspects...</p>
    </ng-template>
  </div>
</div>