<div class="outer-box" style="background-color:ghostwhite;margin-top:-156px">
    <div class="card anim-up">
      <div class="card-header">
        <span class="icon">
          <svg
            width="16"
            height="16"
            viewBox="0 0 24 24"
            fill="none"
            stroke="currentColor"
            stroke-width="2"
            stroke-linecap="round"
            stroke-linejoin="round"
          >
            <path
              d="M14 2H6a2 2 0 00-2 2v16a2 2 0 002 2h12a2 2 0 002-2V8zM14 2v6h6"></path>
          </svg>
        </span>
        <h3 class="card-title-desc">Summary from Last Meeting</h3>
      </div>
      <div *ngIf="summaryData">
        <p class="card-content-desc">
            Last meeting date: 
            {{ summaryData.lastMeetingDate }}
        </p>
        <p class="card-heading-desc">
            <span class="card-heading-content-desc">
                Main Discussion Points: 
            </span>
            {{ summaryData.mainDiscussionPoints }}
        </p>
        <p class="card-heading-desc">
            <span class="card-heading-content-desc">
                Client Questions: 
            </span>
            {{ summaryData.clientQuestions }}
        </p>
      </div>
      <div *ngIf="!summaryData">
        <p>Loading summary...</p>
      </div>
    </div>
</div>