<div class="outer-box" style="background-color:ghostwhite;margin-top:2px">
  <div class="card anim-up" style="animation-delay: 60ms">
    <div class="card-header">
      <h3 class="card-title" style="color: rgb(26, 74, 122);">Client Constraints</h3>
    </div>
    <div>
      <ul style="list-style-type: circle; padding-left: 1.2rem; margin: 0; color: rgb(55, 65, 81); font-size: 12px;">
        <li *ngFor="let constraint of constraints" style="margin-bottom: 0.8em;">{{ constraint }}</li>
      </ul>
    </div>
  </div>
</div>