<div class="outer-box" style="background-color:ghostwhite">
  <div class="card anim-up" style="animation-delay: 60ms">
    <div class="card-header">
      <h3 class="card-title">Client Portfolio Overview</h3>
    </div>
    <div *ngIf="overviewData; else loading">
      <p class="portfolio-value">
        Portfolio Market Value: <span class="value-highlight">{{ overviewData.marketValue }}</span>
      </p>
      <div class="portfolio-details">
      <svg width="140" height="140" viewBox="0 0 140 140">
        <path
          d="M70,70 L70,4 A66,66 0 1,1 61.7280065847559,135.47957028675552 Z"
          fill="#2563eb"
          stroke="white"
          stroke-width="1.5"
        ></path>
        <path
          d="M70,70 L61.7280065847559,135.47957028675552 A66,66 0 0,1 4.520429713244468,61.72800658475589 Z"
          fill="#0891b2"
          stroke="white"
          stroke-width="1.5"
        ></path>
        <path
          d="M70,70 L4.520429713244468,61.72800658475589 A66,66 0 0,1 21.888070590186857,24.81989100870652 Z"
          fill="#ea580c"
          stroke="white"
          stroke-width="1.5"
        ></path>
        <path
          d="M70,70 L21.888070590186857,24.81989100870652 A66,66 0 0,1 45.70377952281132,8.634751931375384 Z"
          fill="#7c3aed"
          stroke="white"
          stroke-width="1.5"
        ></path>
        <path
          d="M70,70 L45.70377952281132,8.634751931375384 A66,66 0 0,1 70.00000000000004,4 Z"
          fill="#94a3b8"
          stroke="white"
          stroke-width="1.5"
        ></path>
      </svg>
      <div class="portfolio-table">
        <div class="legend">
          <div class="legend-item">
            <div
              class="legend-color"
              style="background-color: rgb(37, 99, 235)"
            ></div>
            Equities
          </div>
          <div class="legend-item">
            <div
              class="legend-color"
              style="background-color: rgb(8, 145, 178)"
            ></div>
            Fixed Income
          </div>
          <div class="legend-item">
            <div
              class="legend-color"
              style="background-color: rgb(234, 88, 12)"
            ></div>
            Real Estate
          </div>
          <div class="legend-item">
            <div
              class="legend-color"
              style="background-color: rgb(124, 58, 237)"
            ></div>
            Alternatives
          </div>
          <div class="legend-item">
            <div
              class="legend-color"
              style="background-color: rgb(148, 163, 184)"
            ></div>
            Liquidity
          </div>
        </div>
        <table class="asset-table">
          <thead>
            <tr>
              <th>Asset Class</th>
              <th>Current</th>
              <th>Bandwidth</th>
              <th>In Range</th>
            </tr>
          </thead>
          <tbody>
            <tr *ngFor="let asset of overviewData.assets">
              <td>{{ asset.name }}</td>
              <td>{{ asset.current }}</td>
              <td>{{ asset.bandwidth }}</td>
              <td>{{ asset.inRange }}</td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
    <ng-template #loading>
      <p>Loading portfolio overview...</p>
    </ng-template>
  </div>
</div>