<div class="outer-box" style="background-color:ghostwhite">
    <div class="card anim-up">
      <div class="card-header">
        <span class="icon">
          <svg
            width="16"
            height="16"
            viewBox="0 0 24 24"
            fill="none"
            stroke="currentColor"
            stroke-width="2"
            stroke-linecap="round"
            stroke-linejoin="round"
          >
            <path
              d="M8 2v4M16 2v4M3 10h18M5 4h14a2 2 0 012 2v14a2 2 0 01-2 2H5a2 2 0 01-2-2V6a2 2 0 012-2z"
            ></path>
          </svg>
        </span>
        <h3 class="card-title">Meeting Details</h3>
      </div>
      <div class="card-content">
        <div class="info-row">
          <span class="info-label">Client Name</span>
          <span class="info-value">{{ meetingDetails()?.name }}</span>
        </div>
        <div class="info-row">
          <span class="info-label">Meeting Date &amp; Time</span>
          <span class="info-value">{{ meetingDetails()?.date }},{{ meetingDetails()?.time }}</span>
        </div>
        <div class="info-row">
          <span class="info-label">Location / Platform</span>
          <span class="info-value">{{ meetingDetails()?.location }}</span>
        </div>
        <div class="info-row">
          <span class="info-label">Relationship Manager</span>
          <span class="info-value">Advisor Henry</span>
        </div>
      </div>
    </div>
    </div>